<div class="card text-center footer-container">
  <div class="card-footer footer-body">
    <tr class="list-container">
      <ul class="list-styles">
        <li><a>Más sobre nosotros</a></li>
        <li><a>Contáctanos</a></li>
      </ul>
      <ul class="list-styles">
        <li><a>Privacidad</a></li>
        <li><a>Términos de uso</a></li>
      </ul>
    </tr>

    <p>Teléfono: +123456789 | Email: VSchool&#64;yahoo.es</p>
    <p>&copy; 2024 Atos V.School. Todos los derechos reservados.</p>
  </div>
</div>

