<!-- Popup de actualizar usuario -->
<div class="popup-overlay">
  @if (popupShown){
  <div class="popup">
    <div class="container center-container">
      <h2 class="text-center">Actualizar</h2>
      <form>
        <div class="mb-3">
          <label for="firstName" class="form-label">Nombre</label>
          <input type="text" [(ngModel)]="userTemplate.firstName" name="firstName" id="firstName" class="form-control" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" [(ngModel)]="userTemplate.lastName" name="lastName" id="lastName" class="form-control" placeholder="Apellido">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" [(ngModel)]="userTemplate.email" name="email" id="email" class="form-control" placeholder="email@example.com">
        </div>
        <div class="mb-3">
          <label for="userName" class="form-label">Username</label>
          <input type="text" [(ngModel)]="userTemplate.userName" name="userName" id="userName" class="form-control" placeholder="Username">
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" (click)="updateUser(userTemplate)">Actualizar</button>
          <button class="btn btn-secondary" (click)="closePopup()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
}
</div>

<!-- Perfil del usuario -->
<div class="container py-5">
  <div class="infoUser bg-light rounded p-3 mb-3">
    <img src="../../assets/gato.jpg" class="pfp" alt="Foto de perfil">
    <div class="infoText">
      {{ user.firstName }} {{ user.lastName }} ({{ user.userName }})
    </div>
    <div class="infoText">Correo: {{ user.email }}</div>
  </div>

  <div class="my-2">
    <h2>Cursos en progreso</h2>
    <app-carousel-component [inputValue]="'progreso'"></app-carousel-component>
  </div>

  <div class="my-2 cursos-saved">
    <h2>Cursos guardados</h2>
    <app-carousel-component [inputValue]="'guardados'"></app-carousel-component>
  </div>

  <div class="my-2">
    <h2>Cursos Completados</h2>
    <app-carousel-component [inputValue]="'completados'"></app-carousel-component>
  </div>
</div>
