.footer-container {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    width: 100%;
    z-index: 1000;
    padding: 0.75rem;
}

.list-unstyled li {
    margin-bottom: 2px;
}

.contact-info {
    margin-top: 5px;
    font-size: 10px;
}

.footer-container .card-footer p {
    color: #6c757d;
    font-size: 10px;
}

.list-unstyled li a {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s;
}

.list-unstyled li a:hover {
    color: #343a40;
}
