<body>
    <!-- Modal -->
    <div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <app-upload-profile (profileEdited)="onProfileEdited($event)"></app-upload-profile>
            </div>
          </div>
        </div>
      </div>
      
      




    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="successModalLabel">Éxito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Curso borrado con éxito.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="cerrarModal()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="alertModalLabel">Alerta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres borrar este curso?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="borrar()">Borrar</button>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="container mt-4">
                    <!-- Perfil del profesor -->
                    <div class="perfil-profesor">
                        @if(editMessage != null && editMessage != ""){
                            <app-success-message [message]="editMessage"></app-success-message>
                        }
                        <h1 class="titulo">Zona Profesor</h1>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <img src="" alt="Foto de perfil" class="w-100 rounded-top">
                                <h5 class="card-title">{{teacher?.firstname}} {{teacher?.lastname}}</h5>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><strong>Nombre de usuario:</strong> {{teacher?.username}}</li>
                                    <li><strong>Email:</strong> {{teacher?.email}}</li>
                                </ul>
                                <button class="btn btn-custom-yellow btn-block mb-2" (click)="pupUpEditProfile()">Editar
                                    datos</button>
                                <button class="btn btn-custom-red btn-block">Borrar cuenta</button>
                            
                            </div>
                        </div>
                    </div>
                    <!-- Cursos del profesor -->
                    <div class="cursos-profesor mt-4">
                        <h1 class="titulo">Cursos del Profesor</h1>

                        @if (haveCourses==true) {
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                            <!-- Curso 1 -->
                            @for (item of courseList; track $index) {
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-body">
                                        <img src="{{item.urlImg}}" alt="{{item.name}}" class="w-100 rounded-top"
                                            [routerLink]="['/course', item?.idCourse]">
                                        <h5 class="card-title">{{item.name}}</h5>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li><strong>Inicio:</strong> {{item.startDate}}</li>
                                            <li><strong>Fin:</strong> {{item.finishDate}}</li>
                                            <li><strong>Precio:</strong> {{item.price}}</li>
                                        </ul>
                                        <button class="btn btn-custom-yellow btn-block mb-2"
                                            [routerLink]="['/edit', item.idCourse]">Editar</button>
                                        <button class="btn btn-custom-red btn-block" data-bs-toggle="modal"
                                            (click)="cambiarIdCourse(item.idCourse)"
                                            data-bs-target="#alertModal">Borrar</button>
                                    </div>
                                </div>
                            </div>
                            }

                        </div>
                        }
                        @if (haveCourses==false) {
                        <h2>No tienes ningun curso crea uno</h2>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="filtros mt-4">
                    <h2 class="titulo">Filtrar por</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
                    </div>
                    <div class="accordion" id="categoriasAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="categoriasHeading">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#categoriasCollapse" aria-expanded="true"
                                    aria-controls="categoriasCollapse">
                                    Categorias
                                </button>
                            </h2>
                            <div id="categoriasCollapse" class="accordion-collapse collapse show"
                                aria-labelledby="categoriasHeading">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="categoria1">
                                        <label class="form-check-label" for="categoria1">
                                            Tecnologia
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="categoria2">
                                        <label class="form-check-label" for="categoria2">
                                            Ciencias
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-3" routerLinkActive="router-link-active"
                    [routerLink]="['/create']">Crear curso</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap y cualquier otro JS necesario -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>