<body>
    <div class="popup-overlay">
        @if (popUpEdit){
        <app-upload-profile (profileEdited)="onProfileEdited($event)"></app-upload-profile>
        }
    </div>

    <div class="popup-overlay">
        @if (popUpDelete){
            <app-delete-course (profileEdited)="onCourseDelete($event)" [idBorrar]="idCourse" ></app-delete-course>
        }
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="container mt-4">
                    <!-- Perfil del profesor -->
                    <div class="perfil-profesor">
                        <h1 class="titulo">Perfil del Profesor</h1>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <img src="" alt="Foto de perfil" class="w-100 rounded-top">
                                <h5 class="card-title">{{perfil?.firstname}} {{perfil?.lastname}}</h5>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><strong>Nombre de usuario:</strong> {{perfil?.username}}</li>
                                    <li><strong>Email:</strong> {{perfil?.email}}</li>
                                </ul>
                                @if(editOn){
                                <button class="btn btn-custom-yellow btn-block mb-2" (click)="pupUpEditProfile()">Editar
                                    perfil</button>
                                <button class="btn btn-custom-red btn-block">Borrar cuenta</button>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Cursos del profesor -->
                    <div class="cursos-profesor mt-4">
                        <h1 class="titulo">Cursos del Profesor</h1>
                        
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                            <!-- Curso 1 -->
                            @for (item of courseList; track $index) {
                            <div class="col-md-4"  >
                                <div class="card mb-4 shadow-sm" >
                                    <div class="card-body">
                                        <img src="https://via.placeholder.com/300" alt="" class="w-100 rounded-top" [routerLink]="['/course', item?.idCourse]">
                                        <h5 class="card-title">{{item.name}}</h5>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li><strong>Inicio:</strong> {{item.startDate}}</li>
                                            <li><strong>Fin:</strong> {{item.finishDate}}</li>
                                            <li><strong>Precio:</strong> {{item.price}}</li>
                                        </ul>
                                        @if(editOn){
                                        <button class="btn btn-custom-yellow btn-block mb-2" [routerLink]="['/edit', item.idCourse]">Editar</button>
                                        <button class="btn btn-custom-red btn-block" (click)="cambiarIdCourse(item.idCourse)">Borrar</button>
                                        }

                                    </div>
                                </div>
                            </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="filtros mt-4">
                    <h2 class="titulo">Filtrar por</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
                    </div>
                    <div class="accordion" id="categoriasAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="categoriasHeading">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#categoriasCollapse" aria-expanded="true"
                                    aria-controls="categoriasCollapse">
                                    Categorias
                                </button>
                            </h2>
                            <div id="categoriasCollapse" class="accordion-collapse collapse show"
                                aria-labelledby="categoriasHeading">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="categoria1">
                                        <label class="form-check-label" for="categoria1">
                                            Tecnologia
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="categoria2">
                                        <label class="form-check-label" for="categoria2">
                                            Ciencias
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-3" routerLinkActive="router-link-active" [routerLink]="['/create']">Crear curso</button>
                <button class="btn btn-primary btn-block mt-3" (click)="editMode()">Modo Edición</button>
            </div>
        </div>
    </div>
    <!-- Bootstrap y cualquier otro JS necesario -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>