<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Editar Curso</h2>
      <form [formGroup]="editCourseForm">
        <div class="mb-3">
          <label for="courseName" class="form-label">Nombre del Curso</label>
          <input type="text" formControlName="name" id="courseName" class="form-control" value="{{courseInfo?.name}}">
        </div>
        <div class="mb-3">
          <label for="courseDescription" class="form-label">Descripción</label>
          <textarea formControlName="description" id="courseDescription" class="form-control" placeholder="Ingrese la descripción del curso"></textarea>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="startDate" class="form-label">Fecha de Inicio</label>
            <input type="date" formControlName="startDate" id="startDate" class="form-control">
          </div>
          <div class="col-md-6 mb-3">
            <label for="finishDate" class="form-label">Fecha de Fin</label>
            <input type="date" formControlName="finishDate" id="finishDate" class="form-control">
          </div>
        </div>
        <div class="mb-3">
          <label for="coursePrice" class="form-label">Precio</label>
          <div class="input-group">
            <span class="input-group-text">€</span>
            <input type="number" formControlName="price" id="coursePrice" class="form-control" placeholder="Ingrese el precio">
          </div>
        </div>
        <button type="button" class="btn btn-success" (click)="edit()">Editar Curso</button>
        <a type="button" class="btn btn-danger m-2" routerLink="/teacher-profile" routerLinkActive="router-link-active">Cancelar</a>
      </form>
    </div>
  </div>
</div>
