<div class="container mt-3">
    @if(errorMessage){
        <app-error-message [message]="errorMessage"></app-error-message>
    }
    
    @if(successMessage){
        <app-success-message [message]="successMessage"></app-success-message>
    }
        <div class="row mt-5 rounded-3 bg-light p-4">
            <div class="col-md-8 mx-auto text-center">
                <form  >
                    <h1 class="text-center mb-4">Recupera tu contraseña</h1>
        
                    <h5 class="mb-4">Introduce tu nueva contraseña:</h5>
                    <form [formGroup]="passwordForm">
                        <div class="row mb-4">
                            <input formControlName="password" name="password" id="password" class="form-control entrada" type="password" placeholder="Introduce tu nueva contraseña">
                    </div>
                    <div class="row mb-4">

                            <input formControlName="password2" name="password2" id="password2" class="form-control entrada" type="password" placeholder="Vuelve a introducir tu contraseña">
                        </div>
                    </form>
        
                </form>
                <div class="text-center">
                    <button class="btn btn-success" (click)="setPassword()">Restrablecer contraseña</button>
                </div>
            </div>
        </div>
    </div>
