@if(courseInfo){
    <div class="card mb-4 shadow-sm cardComp"  routerLinkActive="router-link-active" >
        <div class="card-body" [routerLink]="['/course', courseInfo.idCourse]">
            <img src="{{ imageUrl }}" alt="img" class="rounded-top img-fluid imgCard">
            <h5 class="card-title">{{courseInfo.name}}</h5>
            <ul class="list-unstyled mt-3 mb-4">1
                <li><strong>Inicio:</strong> {{courseInfo.startDate}}</li>
                <li><strong>Fin:</strong> {{courseInfo.finishDate}}</li>
                @if (courseInfo.price == 0) {
                  <li><strong>Gratis</strong></li>
                  } @else {
                  <li><strong>Precio:</strong> {{ courseInfo.price }} €</li>
                  }
            </ul>
        </div> 
    </div>
}
