<div class="contenedor-principal card p-4 d-flex flex-column">
    <h1 class="p-2 text-center">Iniciar sesión</h1>
    <!-- Input para recoger los datos de inicio de sesion. -->
    <input class="entrada rounded-2" type="text" placeholder="Usuario" [(ngModel)]="usuario.userName">
    <br>
    <input class="entrada rounded-2" type="text" placeholder="Contraseña" [(ngModel)]="usuario.password">
    <!-- Checkbox para recordar la sesion y link para recuperar la contraseña.-->
    <div class="p-2 d-flex flex-row">
        <input type="checkbox" name="remenber" [(ngModel)]="remenberMe">
        <label for="remenber">
            <span>Recuerdarme</span>
        </label>
        <!-- ¿Añadir metodo para hacer peticion para recuperar contraseña? -->
        <a href="" class="enlace ms-auto">
            <span>¿Se olvido la contraseña?</span>
        </a>
    </div>
    <!-- Boton de inicio de sesion usando metodo. -->
    <a href="#" class="boton-login btn btn-primary p-2 text-center " (click)="onLogin()">
        <span>Iniciar sesión</span>
    </a>
    <br>
    <br>
    <!-- link para registrarse. -->
    <p class="text-center">
        <span>¿eres nuevo? </span>
        <a class="enlace" aria-current="page" routerLink="/register">
            <span>Registrese</span>
        </a>
    </p>
</div>