d<div class="form-group container mt-3" id="login">
    <div class="row mt-5 rounded-3 col-6 mx-auto bg-light">
        <div  class="col-12 mx-auto">
            <h1 class="p-2 text-center">¡Su cuenta se ha verificado correctamente!</h1>
                <ul>
                    <li>Ya puedes comenzar a disfrutar de todos nuestros cursos.</li>
                </ul>
                <div class="text-center">
                    <a routerLink="/login">Volver al login</a>
                </div>

        </div>
    </div>
</div>


