<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de búsqueda</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto">
        <h1 class="titulo">Resultados para la búsqueda <span>"bootstrap"</span></h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            <div class="p-3 rounded-lg shadow-md">
                <img src="" alt="" class="object-cover object-center w-full rounded-t-lg">
                <h5 class="mb-2 text-2xl font-bold text-gray-900">
                    Datos
                </h5>
            </div>
            <div class="p-3 rounded-lg shadow-md">
                <img src="" alt="" class="object-cover object-center w-full rounded-t-lg">
                <h5 class="mb-2 text-2xl font-bold text-gray-900">
                    Datos
                </h5>
            </div>
            <div class="p-3 rounded-lg shadow-md">
                <img src="" alt="" class="object-cover object-center w-full rounded-t-lg">
                <h5 class="mb-2 text-2xl font-bold text-gray-900">
                    Datos
                </h5>
            </div>
        </div>
    </div>
    <div class="div">
        
    </div>
</body>
</html>
