#course{
    padding-top: 3%;
}

.link {
    color: rgb(151, 173, 196);
    cursor: grabbing;
}

.link:hover {
    color: rgb(97, 112, 128);
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*Personalizado*/

.container{
    color: #17183B;
}
.spaced{
    margin-top: 13px;
}
#rating{ 
    color: blue;
}
.spacedInicial{
    margin-left: 5px; 
} 
 
#icon_world{
    background-image: url("./../../assets/img/svg/internet.svg");
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
}

#info_course{
    background-color: #BDBDBD;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#info_temario{
    background-color: #BDBDBD;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
} 


ul{
    margin-top: 5px;
}
li{
    display: flex;  
    list-style: none;  
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
}

.list-item {
    width: 99.05%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #21234D;
    border-radius: 10px;
    color: white; 
}

.list-item:hover {
    background-color: #1A1D3D;
}

.conntli{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px; 
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}
.contTema{
    margin-right: 9px;
}

.btnBorrar{
    color: white;
    border: 1px solid white;
}

.alerta-tema{
    display: block;
    height: 100px;
    width: 300px;
}
.alerta-tema > svg{
    height: 50px;
    width: 50px;
}