<div class="container my-5" id="course">
  <div class="row">
    <div class="col-9" id="cont_info_course">
      <div class="row" id="info_course">
        <h1 id="name">{{courseInfo?.name}}</h1>
        <p id="description">{{courseInfo?.description}}</p>

        <span>Creado por <span id="creator">Creador</span></span>
        <span
          >Inicio curso
          <span id="start_date">{{ courseInfo?.startDate }}</span></span
        >
        <span
          >Fin curso
          <span id="finish_date">{{ courseInfo?.finishDate }}</span></span
        >
        <span id="container_len" class="d-flex">
          <div id="icon_world"></div>
          <span class="d-block">Español</span>
        </span>
      </div>
      <div
        class="row"
        id="info_temario"
        style="display: flex; align-items: center"
      >
        <div class="col-9" >
          <h2>Temas</h2>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <button
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalAgregarTema"
          >
            Crear Tema
          </button>
        </div>
        <ul id="listTask" class="list-unstyled">
          @for(subject of subjects; track subject){
          <li class="list-item">
            <ul class="w-100">
              <li class="d-flex justify-content-between align-items-center cont" (click)="toggleSubmenu(subject)"> 
                  <div >{{ subject.name }}</div>
                  <div class="contTema">
                    <button type="button" class="btn btn-success mx-2" (click)="showCreateTarea(subject.idSubject)">Crear tarea</button>
                    <button type="button" class="btn btn-warning" (click)="showEditarSubject(subject.idSubject)">Editar tema</button>
                    <button type="button" class="btn btn-danger ms-2" (click)="showModalDelete(subject.idSubject)">Borrar tema</button>
                  </div>  
              </li>
              <div (click)="toggleSubmenu(subject)" >{{ subject.description }}</div>
              <li>
                @if (openedSubmenus[subject.idSubject]) {
                  <ul class="list-unstyled w-100">
                    @for(lesson of subject.lessons; track lesson){
                    <li class="d-flex justify-content-between align-items-center conntli" >
                      <div (click)="showLesson(lesson.idLesson)">{{ lesson.name }}</div> 
                      <div><a class="link" (click)="downloadFile(lesson)">Descargar</a></div>
                      <div>
                        <button type="button" class="btn btn-warning" (click)="showEditarLesson(lesson.idLesson)">Editar tarea</button>
                        <button type="button" class="btn ms-2 btn-danger" (click)="showDeleteLesson(lesson.idLesson)">Borrar tarea</button> 
                      </div>
                    </li>
                    }
                  </ul>
                }
              </li>
            </ul>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-3" id="cont_info_course">
      <app-payment [courseInfo]="courseInfo"></app-payment>
    </div>
  </div>
  <div class="my-3">
    <h3>Comentarios:</h3>
    <div
      class="container"
      style="
        background-color: #bdbdbd;
        margin-left: -1%;
        padding: 1% 2% 1% 2%;
        width: 77%;
        border-radius: 15px;
      "
    >
    @if(loggeIn){
      <div class="container my-3">
        <span style="font-weight: bold; font-size: x-large;">Añadir comentario:</span>
        <input class="mx-2" style="border-radius: 5px; border: none;" type="text" [(ngModel)]="newComment" />
        <button style="border: none; border-radius: 5px; background-color: #21234D; color: #CECECE;" (click)="addNewComent(courseId)">Añadir comentario</button>
      </div>
    }
      @for (coment of coments; track coments) {
      <div class="container text-body">
        <div class="row d-flex justify-content-left">
          <div class="col-md-11 col-lg-9 col-xl-7">
            <div class="d-flex flex-start mb-4">
              <img
                class="rounded-circle shadow-1-strong me-3"
                [src]="coment.user.imageUrl"
                alt="avatar"
                width="65"
                height="65"
              />
              <div class="card w-100" style="background-color: #dddddd">
                <div class="card-body p-4">
                  <div class="">
                    <h5>{{ coment.user.firstname }}</h5>
                    <p class="small">{{ coment.date }}</p>
                    <p>
                      {{ coment.text }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      }
    </div>
  </div>
  <div
    class="modal fade"
    id="modalAgregarTema"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Tema</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="subjectForm">
            <div class="mb-3">
              <label for="nombreTema" class="form-label">Nombre del Tema</label>
              <input
                type="text"
                class="form-control"
                id="nombreTema"
                formControlName="name"
              />
            </div>
            <div class="mb-3">
              <label for="descripcionTema" class="form-label"
                >Descripción del Tema</label
              >
              <textarea
                class="form-control"
                id="descripcionTema"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="postSubject()"
            data-bs-dismiss="modal"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editarSubject" tabindex="-1" aria-labelledby="editarSubject" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="editarSubject">Editar tema</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cerrarModalFormatEditSubject()"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="subjectForm">
                <div class="mb-3">
                  <label for="nombreTema" class="form-label">Nombre del Tema</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nombreTema"
                    formControlName="name"
                  />
                </div>
                <div class="mb-3">
                  <label for="descripcionTema" class="form-label"
                    >Descripción del Tema</label
                  >
                  <textarea
                    class="form-control"
                    id="descripcionTema"
                    rows="3"
                    formControlName="description"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="cerrarModalFormatEditSubject()">Aceptar</button>
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="modalDeleteSubject" tabindex="-1" aria-labelledby="deleteSubject" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModalFormatDeleteSubject()"></button> 
        </div>  
        <div class="modal-footer">
          <h1 class="modal-title" id="eliminarSubject">¿Seguro que quieres eliminar el tema?</h1> 

          <button 
          type="button" 
            class="btn btn-danger" 
            data-bs-dismiss="modal"
            (click)="deleteSubject()"
            >Aceptar</button>
          
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="cerrarModalFormatDeleteSubject()"
          >Cancelar</button>
            
      </div>  
      </div>
    </div> 
  </div>

  <div class="modal fade" id="modalDeleteLesson" tabindex="-1" aria-labelledby="modalDeleteLesson" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModalFormatDeleteLesson()"></button> 
        </div>  
        <div class="modal-footer">
          <h1 class="modal-title" id="editarLesson">¿Seguro que quieres eliminar la tarea?</h1> 

          <button 
            type="button" 
            class="btn btn-danger" 
            data-bs-dismiss="modal"
            (click)="deleteLesson()"
            >Aceptar</button>

          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="cerrarModalFormatDeleteLesson()"
          >Cancelar</button>
      </div>  
      </div>
    </div> 
  </div>

