<div class="container my-5" id="course">
  <div class="row">
    <div class="col-9" id="cont_info_course">
      <div class="row" id="info_course">
        <h1 id="name">{{ courseInfo?.name }}</h1>
        <p id="description">{{ courseInfo?.description }}</p>

        <span>Creado por <span id="creator">Creador</span></span>
        <span
          >Inicio curso
          <span id="start_date">{{ courseInfo?.startDate }}</span></span
        >
        <span
          >Fin curso
          <span id="finish_date">{{ courseInfo?.finishDate }}</span></span
        >
        <span id="container_len" class="d-flex">
          <div id="icon_world"></div>
          <span class="d-block">Español</span>
        </span>
      </div>
      <div
        class="row"
        id="info_temario"
        style="display: flex; align-items: center"
      >
        <div class="col-9">
          <h2>Temas</h2>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <button
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalAgregarTema"
          >
            +
          </button>
        </div>
        <ul id="listTask" class="list-unstyled">
          @for(subject of subjects; track subject){
          <li class="list-item">
            <ul class="w-100">
              <li class="d-flex justify-content-between align-items-center">
                <div>{{ subject.name }}</div>
                <div>
                  <button type="button" class="btn btn-warning" (click)="abrirModal(subject.idSubject)">Editar</button>
                  <button type="button" class="btn btn-danger ms-2" (click)="abrirModalDelete(subject.idSubject)">
                    Borrar
                  </button>
                </div>
              </li>
              <li>
                <ul class="list-unstyled w-100">
                  @for(lesson of subject.lessons; track lesson){
                  <li class="d-flex justify-content-between align-items-center">
                    <div>{{ lesson.name }}</div>
                  </li>
                  }
                </ul>
              </li>
            </ul>
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-3" id="cont_info_course">
      <app-payment [courseInfo]="courseInfo"></app-payment>
    </div>
  </div>
  <app-comment></app-comment>
  <div
    class="modal fade"
    id="modalAgregarTema"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Tema</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="subjectForm">
            <div class="mb-3">
              <label for="nombreTema" class="form-label">Nombre del Tema</label>
              <input
                type="text"
                class="form-control"
                id="nombreTema"
                formControlName="name"
              />
            </div>
            <div class="mb-3">
              <label for="descripcionTema" class="form-label"
                >Descripción del Tema</label
              >
              <textarea
                class="form-control"
                id="descripcionTema"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="postSubject()"
            data-bs-dismiss="modal"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

