<div class="row" id="info_course">
  <h1 id="name">{{name}}</h1>
  <p id="description">{{description}}</p>
  <span class="d-flex flex-row">
    <span id="score" class="spaced">{{score}}</span>
    <span id="stars" >
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
    </span>
    <span class="spaced">(
      <span id="number_ratings">{{number_ratings}}</span>
      <span class="spacedInicial">calificaciones)</span>
    </span>
    <span class="spaced spacedInicial">Calificaciones de estudiantes</span>
  </span>
  <span>Creado por <span id="creator">{{creator}}</span></span>
  <span>Inicio curso <span id="start_date">{{start_date}}</span></span>
  <span>Fin curso <span id="finish_date">{{finish_date}}</span></span>
  <span id="container_len" class="d-flex"> 
    <div id="icon_world"></div>
    <span class="d-block">Español</span>
  </span>
</div> 