<div class="row" id="info_course">
  <h1 id="name">{{courseInfo?.name}}</h1>
  <p id="description">{{courseInfo?.description}}</p>
  <span class="d-flex flex-row">
    <span id="score" class="spaced">Puntuación</span>
    <span id="stars" >
    </span>
    <span class="spaced">(
      <span id="number_ratings">Rating</span>
      <span class="spacedInicial">calificaciones)</span>
    </span>
    <span class="spaced spacedInicial">Calificaciones de estudiantes</span>
  </span>
  <span>Creado por <span id="creator">Creador</span></span>
  <span>Inicio curso <span id="start_date">{{courseInfo?.startDate}}</span></span>
  <span>Fin curso <span id="finish_date">{{courseInfo?.finishDate}}</span></span>
  <span id="container_len" class="d-flex"> 
    <div id="icon_world"></div>
    <span class="d-block">Español</span>
  </span>
</div> 