<div class="form-group container mt-3">
    @if(successMessage){
        <app-success-message [message]="successMessage"></app-success-message>
    }
    @if(errorMessage){
        <app-error-message [message]="errorMessage"></app-error-message>
    }
    <div class="row mt-5 rounded-3 col-6 mx-auto bg-light">
    <form [formGroup]="loginForm" class="col-8 mx-auto">
    <h1 class="p-2 text-center">Iniciar sesión</h1>
    <!-- Input para recoger los datos de inicio de sesion. -->
    <input formControlName="username" name="username" id="username" class="form-control" type="text" placeholder="Introduce tu nombre de usuario">
    <br>
    <input formControlName="password" class="form-control" type="password" placeholder="Introduce tu contraseña">
    <!-- Checkbox para recordar la sesion y link para recuperar la contraseña.-->
    <div class="p-2 d-flex flex-row">
        <input type="checkbox" name="remember">
        <label for="remember">
            <span>Recuerdarme</span>
        </label>
        <!-- ¿Añadir metodo para hacer peticion para recuperar contraseña? -->
        <a href="" class="enlace ms-auto">
            <span>¿Olvidaste la contraseña?</span>
        </a>
    </div>
    <!-- Boton de inicio de sesion usando metodo. -->
    <div class="text-center">
        <button class="boton-login btn btn-primary p-2 text-center aling-center mb-2" (click)="keycloakLogin()">
            Iniciar sesión con keycloak
        </button>
    </div>
    <!-- link para registrarse. -->
    <p class="text-center">
        <span>¿Eres nuevo? </span>
        <a class="enlace" aria-current="page" routerLink="/register">
            <span>Registrate</span>
        </a>
    </p>
</form>
</div>
</div>

