body {
    background-color: #CECECE;
    background-attachment: fixed;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    min-height:100%; 
    position:relative;
}


body::after{ 
  content:''; 
  display:block;
  height:100px; }


  
  /* Footer styles */
  .footer-container {
    text-align: center; /* Center the content */
    padding: 10px 0; /* Some padding for spacing */
    z-index: 100; /* Ensure it stays on top of other content */
    margin-bottom: 200px;
  }