<div class="form-group container">
    <div class="row mt-5 rounded-3 col-6 mx-auto bg-light">
        <form  class="col-8 mx-auto">
        <h1 class="p-2 text-center">Registrarse</h1>

        <small class="mb-4">Datos personales:</small>
        <!-- Input para recoger los datos de inicio de sesion. -->
        <input formControlName="username" name="username" id="username" class="form-control mb-4" type="text" placeholder="Introduce tu nombre de usuario">
    
        <input formControlName="password" name="password" id="password" class="form-control mb-4" type="password" placeholder="Introduce tu contraseña">

        <input formControlName="password2" name="password2" id="password2" class="form-control mb-4" type="password" placeholder="Vuelve a introducir tu contraseña">
    
        <input formControlName="firstName" name="firstName" id="firstName" class="form-control mb-4" type="text" placeholder="Introduce tu nombre">
    
        <input formControlName="lastName" name="lastName" id="lastName" class="form-control mb-4" type="text" placeholder="Introduce tus apellidos">
    
        <input formControlName="email" name="email" id="email" class="form-control mb-4" type="email" placeholder="Introduce tu nombre de usuario">

        <small class="mb-4">Dirección:</small>
    
        <input formControlName="street" name="street" id="street" class="form-control mb-4" type="text" placeholder="Introduce tu dirección">
        
        <input formControlName="number" name="number" id="number" class="form-control mb-4 " type="number" placeholder="Introduce el número de la calle" min="1">
        
        <input formControlName="city" name="city" id="city" class="form-control mb-4" type="text" placeholder="Introduce tu ciudad">

        <input formControlName="country" name="country" id="country" class="form-control mb-4" type="text" placeholder="Introduce tu país">

        <input formControlName="street" name="street" id="street" class="form-control mb-4" type="text" placeholder="Introduce tu dirección">

        <input formControlName="postalCode" name="postalCode" id="postalCode" class="form-control mb-4" type="number" placeholder="Introduce tu código postal" min="0">
        <!-- Checkbox para recordar la sesion y link para recuperar la contraseña.-->
        <div class="p-2  text-center">
            <!-- ¿Añadir metodo para hacer peticion para recuperar contraseña? -->
            <a href="" class="enlace ms-auto mb-2">
                <span>¿Ya tienes cuenta? Inicia sesión</span>
            </a>
        </div>
        <!-- Boton de inicio de sesion usando metodo. -->
        <div class="text-center">
            <button class="boton-login btn btn-primary p-2 text-center aling-center mb-2">
                Registrarse
            </button>
        </div>
        <!-- link para registrarse. -->
        <p class="text-center">
            <a class="enlace" aria-current="page" routerLink="/register">
                <span>Olvidé mi contraseña</span>
            </a>
        </p>
    </form>
    </div>
    </div>
