/* Custom styling for modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-title {
    color: #333;
}

.modal-footer {
    border-top: none;
    padding-top: 0;
}

/* Optional: Add some margin to the form fields */
.modal-body .mb-3 {
    margin-bottom: 20px;
}

/* Optional: Add some padding to the modal body */
.modal-body {
    padding: 20px;
}

/* Optional: Center modal vertically */
.modal-dialog {
    display: flex;
    align-items: center;
}

/* Optional: Style the submit button */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.left-panel {
    border-radius: 15px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}

.right-panel {
    border-radius: 15px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}

.panel-title {
    margin-bottom: 20px;
}

.top-right-panel {
    margin-bottom: 20px;
}

.bottom-right-panel {
    margin-top: 20px;
}
.padre{
    padding-top: 5%;
}
.icon-text {
    margin-bottom: 10px;
}

.icon-text i {
    font-size: 24px;
}

.icon-text p {
    margin-bottom: 0; 
}

.pulsar{
    cursor: pointer;
}

.icon-text {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    margin-top: 5px;
}

.icon-text img {
    display: block;
    margin: 0 auto;
}

