<body class="container">
  <h2 class="text-center">Crear nuevo curso</h2>
  <div class="containerItems text-center">
    <div class="itemInput my-2">Nombre del curso: <input type="text" style="width: 40%;" /></div>
    <div class="itemInput my-2">Descripción: <textarea  style="margin-left: 4.5%; width: 40%; height: 20vh" > </textarea></div>
    <div class="itemInput my-2">Fecha inicio: <input type="date" style="margin-left: 4.5%; width: 40%;"/></div>
    <div class="itemInput my-2">Fecha fin: <input type="date" style="margin-left: 6.5%; width: 40%;"/></div>
    <div class="itemInput my-2">color: <input type="color" style="margin-left: 9%; width: 40%;"/></div>
    <button class="btn btnSend">Enviar</button>
  </div>
</body>
