d<div class="form-group container mt-3" id="login">
    <div class="row mt-5 rounded-3 col-6 mx-auto bg-light">
        <div  class="col-12 mx-auto">
            <h1 class="p-2 text-center">¡Gracias por crear una cuenta!</h1>
            <h5 class="text-center">¿Qué debes hacer ahora?</h5>
                <ul>
                    <li>Revisa tu bandeja de entrada: Te hemos enviado un correo electrónico con un enlace de verificación.</li>
                    <li>Haz clic en el enlace: El enlace servirá para verificar tu cuenta y podrás empezar a formarte en nuestros cursos.</li>
                </ul>
                <div class="text-center">
                    <p>Se ha enviado un correo de verificación al email <span>{{email}}</span></p>
                    <a routerLink="/login">Volver al login</a>
                </div>

        </div>
    </div>
</div>

