<div class="container">
  <div class="row">
      <div class="col-md-12">
        <app-img-move></app-img-move>
      </div>
  </div>

  <div class="row my-4">
      <div class="col-md-12">
          <h3 class="text-center">Cursos más populares</h3>
          <div class="text-center">
                    <app-carousel-component></app-carousel-component>
          </div>
      </div>
  </div>

  <div class="row my-4">
      <div class="col-md-12">
          <h3 class="text-center">Nuevos cursos</h3>
          <div class="text-center">
                        <app-carousel-component></app-carousel-component>

          </div>
      </div>
  </div>

  <div class="row my-4">
      <div class="col-md-12 text-center">
          <a href="/all-courses" class="btn btn-primary">Ver todos los cursos</a>
      </div>
  </div>
</div>
