<div id="carousel" class="carousel">
  <div class="carousel-indicators" style="margin-bottom: -2%">
    @for (class of courses; track indexCaroucel; let indexCaroucel = $index) {
    @if (indexCaroucel < totalClasses / indexCaroucel) {
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="0"
      aria-current="true"
      aria-label="Slide"
    ></button>
    } }
  </div>
  <div class="carousel-inner carouselContainer">
    @for (course of courses; track indexCaroucel; let indexCaroucel = $index) {
      
    @if (indexCaroucel <  classesChantity) {
    <div class="carousel-item active">
      <tr class="classContainer">
        @for (class of courses; track currentSlide; let indexClasses = $index) {
        @if (indexClasses < currentSlide + 3 && indexClasses >= currentSlide) {
          
        <td class="classes">
          <app-course-component [class]="class"></app-course-component>
        </td>
        

        } }
      </tr>
    </div>
    } }
  </div>

  <button
    class="carousel-control-prev"
    style="margin-left: -4%; width: 5%"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
    (click)="changeSlideLeft()"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    style="margin-right: -4%; width: 5%"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
    (click)="changeSlideRight()"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
