<div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="container ms-4 row">
                    <h1 class="titulo">Todos los cursos</h1>
                    <hr>
                    @if(courses){
                        @for (course of courses; track course.idCourse) {
                            <div class="col-md-4">
                                <app-course-card [courseInfo]="course" class=""></app-course-card>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="filtros">
                    <h2>Filtrar por</h2>
                    <div class="accordion" id="categoriasAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="categoriasHeading">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoriasCollapse" aria-expanded="true" aria-controls="categoriasCollapse">
                                    Filtrar por categorias
                                </button>
                            </h2>
                            <div id="categoriasCollapse" class="accordion-collapse collapse show" aria-labelledby="categoriasHeading">
                                <div class="accordion-body">
                                    @for (category of categories; track category.id) {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria1">
                                            <label class="form-check-label" for="categoria1">
                                                {{category.category}}
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
