<div class="text-center m-3">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-950 md:text-5xl lg:text-6xl dark:text-white">Te ayudamos a sacar todo tu potencial</h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Aqui podras encontrar una larga lista de cursos online que te ayudaran a llevar tus conocimientos al siguiente nivel</p>
    <a routerLink="/all-courses" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-950 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Ver todos los cursos
    </a>
</div>

