<!--
    Update user 
    <div class="container center-container">
    <p>First Name <input type="text" placeholder="nombre del usuario"></p>
    <p>Last Name <input type="text" placeholder="apellido del usuario"></p>
    <p>Email <input type="text" placeholder="correo del usuario"></p>
    <p>Address <input type="text" placeholder="direccion del usuario"></p>
    <p>Username <input type="text" placeholder="username del usuario"></p>
    <button class="btn btn-primary"> Update </button>
</div> -->

<body>
  <div class="popup-overlay">
    @if (popupShown) {
    <div class="popup">
      <div class="container center-container">
        <h2 class="text-center">Actualizar</h2>
        <p>
          Nombre
          <input
            type="text"
            [(ngModel)]="userTemplate.firstName"
            name="firstName"
            id="firstName"
            placeholder="nombre"
            style="margin-left: 4%;"
            class="inputPopup"
          />
        </p>
        <p>
          Apellido
          <input
            type="text"
            [(ngModel)]="userTemplate.lastName"
            name="lastName"
            id="lastName"
            placeholder="Apellido"
            style="margin-left: 4%;"
            class="inputPopup"
          />
        </p>
        <p>
          Email
          <input
            type="text"
            [(ngModel)]="userTemplate.email"
            name="Email"
            placeholder="email@email.com"
            style="margin-left: 12%;"
            class="inputPopup"
          />
        </p>
        <p>
          Dirección
          <input
            type="text"
            [(ngModel)]="userTemplate.address"
            placeholder="calle test nº1"
            name="address"
            style="margin-left: 1%;"
            class="inputPopup"
          />
        </p>
        <p>
          Username
          <input
            type="text"
            [(ngModel)]="userTemplate.username"
            placeholder="username"
            name="userName"
            class="inputPopup"
          />
        </p>
        <button class="btn updateConfirmBtn" (click)="updateUser(userTemplate)">
          Actualizar
        </button>
        <button class="btn updateCancelBtn" (click)="closePopup()">
            Cancelar
          </button>
      </div>
    </div>
    }
  </div>

  <div class="container py-5">
    <div class="infoUser">
      <img src="../../assets/gato.jpg" class="pfp" />
      <div>{{ user.firstName }} {{ user.lastName }} ({{ user.username }})</div>
      <div>Correo: {{ user.email }}</div>
      <div>Dirección: {{ user.address }}</div>
      <button class="btn updateBtn" (click)="showPopup()">Update</button>
    </div>
    <div class="my-2">
      <h2>Cursos en progreso</h2>
      <div>
        <tr class="classContainer">
          @for (class of classes; track $index) {
          <td class="classes">
            <h4>
              {{ class.className }}
            </h4>
            <div class="classDescription">
              {{ class.description }}
            </div>
          </td>
          }
        </tr>
      </div>
    </div>
    <div class="my-2">
      <h2>Cursos guardados</h2>
      <div>
        <tr class="classContainer">
          @for (class of classes; track $index) {
          <td class="classes">
            <h4>
              {{ class.className }}
            </h4>
            <div class="classDescription">
              {{ class.description }}
            </div>
          </td>
          }
        </tr>
      </div>
    </div>
    <div class="my-2">
      <h2>Cursos Completados</h2>
      <div>
        <tr class="classContainer">
          @for (class of classes; track $index) {
          <td class="classes">
            <h4>
              {{ class.className }}
            </h4>
            <div class="classDescription">
              {{ class.description }}
            </div>
          </td>
          }
        </tr>
      </div>
    </div>
  </div>
</body>
